:root{
    --primary-color: #080A0C;
    --text-color: #FA6821;
    --font-body:' 'Poppins', sans-serif'
}

body{
    background-color: var(--primary-color);
    // height: 200vh;
}
.main
{
    height: 150vh;
    // display: flex;
    // justify-content: center;
    // align-items: center;

}

#name{
    font-family: 'Poppins', sans-serif; 
   
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width:300vw;
    color: var(--text-color);
     font-size: 3em;
}

.catch_phrase{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2568CE;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif; 
    font-weight: 300;
    letter-spacing: 1em;
    text-transform: uppercase;
}

  

  
