:root{
    --primary-color: #080A0C;
    --text-color: #FA6821;
    --font-body:' 'Poppins', sans-serif'
}

body{
    background-color: var(--primary-color);
    // height: 200vh;
}
.main
{
    height: 150vh;
    // display: flex;
    // justify-content: center;
    // align-items: center;

}

#name{
    font-family: 'Poppins', sans-serif; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width:300vw;
    color: var(--text-color);
     font-size: 3em;
}

#page2
{
    height: 100vh;
    display: flex;
    justify-content: center;    
    align-items: center;    
    // background-color: #2568CE;
}
#page2>h2
{
    color: white;
    font-family: 'Poppins', sans-serif; 
    
}

.catch_phrase{
    // height: 50vh;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2568CE;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif; 
    flex-wrap: wrap;
    letter-spacing: 2em;
    overflow: hidden;
    text-transform: uppercase;
}
#page3
{
    height: 100vh;
    // background-color: #FA6821;
    color: #80808B;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#page3>span
{
    font-family: 'Poppins', sans-serif; 
    
}
#page3>#line
{
    border-left: 1px solid #80808B;
    height: 6em;
}

  

  
