:root {
  --primary-color: #080a0c;
  --text-color: #fa6821;
  --font-body: " " Poppins ", sans-serif";

}
$coin-size: 3.5rem;
$coin-thickness: $coin-size / 5;

$bg: #f4f7ff;
$bg-button: #fa6821;
$font-color: #fff;
$c-l: #fcfaf9;
$c-m: #c2cadf;
$c-d: #8590b3;
$c-side: #737c99;
$shine: #e9f4ff;
html,
body {
  background-color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

header{
  z-index: 3;
  position: fixed;
  // display: flex;
  color: white;
  font-weight: 100;
  text-transform: uppercase;
  // width: 10%;
  margin: 6em;
}


.tip-button {
  background: none;
  border: 0;
  cursor: pointer;
  font-family: var(--font-body);
  font-size: 1rem;
  font-weight: 300;
  height: 2.6rem;
  position: relative;
  top: 0;
  transform-origin: 0% 100%;
  transition: transform 50ms ease-in-out;
  width: 9.5rem;
  -webkit-tap-highlight-color: transparent;
  &:active {
    transform: rotate(4deg);
  }
  // Button was clicked
  &.clicked {
    animation: 150ms ease-in-out 1 shake;
    pointer-events: none;
    .tip-button__text {
      opacity: 0;
      transition: opacity 100ms linear 200ms;
    }
    &::before { // background/bar
      height: 0.5rem;
      width: 60%;
    }
    .coin {
      transition: margin-bottom 1s linear 200ms;
      margin-bottom: 0;
    }
  }
  // Coin almost finished falling
  &.shrink-landing {
    &::before { // background/bar
      transition: width 200ms ease-in;
      width: 0;
    }
  }
  // Coin finished falling
  &.coin-landed {
    &::after { // Thank you message
      opacity: 1;
      transform: scale(1);
      transform-origin: 100% 100%;
    }

    // Make the little confetti looking dots on this wrapper
    .coin-wrapper {
      background:
        radial-gradient(circle at 35% 97%, rgba($bg-button, 0.4) 0.04rem, transparent 0.04rem),
        radial-gradient(circle at 45% 92%, rgba($bg-button, 0.4) 0.04rem, transparent 0.02rem),
        radial-gradient(circle at 55% 98%, rgba($bg-button, 0.4) 0.04rem, transparent 0.04rem),
        radial-gradient(circle at 65% 96%, rgba($bg-button, 0.4) 0.06rem, transparent 0.06rem);
      background-position: center bottom;
      background-size: 100%;
      bottom: -1rem;
      opacity: 0;
      transform: scale(2) translateY(-10px);
    }
  }

  &__text {
    color: $font-color;
    margin-right: 1.8rem;
    opacity: 1;
    position: relative;
    transition: opacity 100ms linear 500ms;
    z-index: 3;
  }

  // Background of button
  &::before {
    background: $bg-button;
    border-radius: 0.25rem;
    bottom: 0;
    content: '';
    display: block;
    height: 100%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    transition: height 250ms ease-in-out 400ms, width 250ms ease-in-out 300ms;
    width: 100%;
    z-index: 2;
  }

  // Thank you message
  &::after {
    bottom: -1rem;
    color: $bg-button;
    content: 'Thank you!';
    height: 110%;
    left: 0;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    text-align: center;
    transform: scale(0);
    transform-origin: 50% 20%;
    transition: transform 200ms cubic-bezier(0,0,.35,1.43);
    width: 100%;
    z-index: 1;
  }
}

.coin-wrapper {
  background: none;
  bottom: 0;
  height: 18rem;
  left: 0;
  opacity: 1;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  transform: none;
  transform-origin: 50% 100%;
  transition: opacity 200ms linear 100ms, transform 300ms ease-out;
  width: 100%;
}

.coin {
  --front-y-multiplier: 0;
  --back-y-multiplier: 0;
  --coin-y-multiplier: 0;
  --coin-x-multiplier: 0;
  --coin-scale-multiplier: 0;
  --coin-rotation-multiplier: 0;
  --shine-opacity-multiplier: 0.4;
  --shine-bg-multiplier: 50%;
  bottom: calc(var(--coin-y-multiplier) * 1rem - #{$coin-size});
  height: $coin-size;
  margin-bottom: 3.05rem;
  position: absolute;
  right: calc(var(--coin-x-multiplier) * 34% + 16%);
  transform:
    translateX(50%)
    scale(calc(0.4 + var(--coin-scale-multiplier)))
    rotate(calc(var(--coin-rotation-multiplier) * -1deg));
  transition: opacity 100ms linear 200ms;
  width: $coin-size;
  z-index: 3;

  &__front,
  &__middle,
  &__back,
  &::before,
  &__front::after,
  &__back::after {
    border-radius: 50%;
    box-sizing: border-box;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 3;
  }

  // Tails
  &__front {
    background:
      radial-gradient(circle at 50% 50%, transparent 50%, rgba($c-side, 0.4) 54%, $c-m 54%),
      linear-gradient(210deg, $c-d 32%, transparent 32%),
      linear-gradient(150deg, $c-d 32%, transparent 32%),
      linear-gradient(to right, $c-d 22%, transparent 22%, transparent 78%, $c-d 78%),
      linear-gradient(to bottom, $c-l 44%, transparent 44%, transparent 65%, $c-l 65%, $c-l 71%, $c-d 71%),
      linear-gradient(to right, transparent 28%, $c-l 28%, $c-l 34%, $c-d 34%, $c-d 40%, $c-l 40%, $c-l 47%, $c-d 47%, $c-d 53%, $c-l 53%, $c-l 60%, $c-d 60%, $c-d 66%, $c-l 66%, $c-l 72%, transparent 72%);
    background-color: $c-d;
    background-size: 100% 100%;
    transform: translateY(calc(var(--front-y-multiplier) * #{$coin-thickness} / 2)) scaleY(var(--front-scale-multiplier));
  
    // Shadow on coin face
    &::after {
      background: rgba(#000, 0.2);
      content: '';
      opacity: var(--front-y-multiplier);
    }
  }

  &__middle {
    background: $c-side;
    transform: translateY(calc(var(--middle-y-multiplier) * #{$coin-thickness} / 2)) scaleY(var(--middle-scale-multiplier));
  }

  // Heads
  &__back {
    background:
      radial-gradient(circle at 50% 50%, transparent 50%, rgba($c-side, 0.4) 54%, $c-m 54%),
      radial-gradient(circle at 50% 40%, $c-l 23%, transparent 23%),
      radial-gradient(circle at 50% 100%, $c-l 35%, transparent 35%);
    background-color: $c-d;
    background-size: 100% 100%;
    transform: translateY(calc(var(--back-y-multiplier) * #{$coin-thickness} / 2)) scaleY(var(--back-scale-multiplier));
  
    // Shadow on coin face
    &::after {
      background: rgba(#000, 0.2);
      content: '';
      opacity: var(--back-y-multiplier);
    }
  }

  // Light glare on the coin
  &::before {
    background:
      radial-gradient(circle at 25% 65%, transparent 50%, rgba(white, 0.9) 90%),
      linear-gradient(55deg, transparent calc(var(--shine-bg-multiplier) + 0%), $shine calc(var(--shine-bg-multiplier) + 0%), transparent calc(var(--shine-bg-multiplier) + 50%));
    content: '';
    opacity: var(--shine-opacity-multiplier);
    transform:
      translateY(calc(var(--middle-y-multiplier) * #{$coin-thickness} / -2))
      scaleY(var(--middle-scale-multiplier))
      rotate(calc(var(--coin-rotation-multiplier) * 1deg));
    z-index: 10;
  }

  // Sqaure for the 'side' of the coin
  &::after {
    background: $c-side;
    content: '';
    height: $coin-thickness;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 2;
  }
}

@keyframes shake {
  0% { transform: rotate(4deg) }
  66% { transform: rotate(-4deg) }
  100% { transform: rotate() }
}

//page1
#page1 {
  height: 100vh;
  z-index: 1;
}

#name {
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 150vw;
  color: var(--text-color);
  font-size: 3em;
}


// page 2
#page2 {
  position: relative;
  z-index: 2;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#about > hr {
  margin-left: 0px;
  width: 7em;
}
#about > p {
  padding-top: 1em;
  color: #80808b;
  font-size: 1.8em;
  line-height: 1.5em;
  z-index: 2;
}
#about > p > span {
  color: var(--text-color);
  z-index: 2;
}
#about > h2 {
  color: white;
  font-size: 2em;
  z-index: 2;
}
#about > h2 > span {
  color: var(--text-color);
}


.catch_phrase {
  // padding: 1em 0 1em 0;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2568ce;
  font-size: 2.5em;
  letter-spacing: 1em;
  overflow: hidden;
  text-transform: uppercase;
  z-index: 2;
  height: 20vh;
}

.social-buttons {
  position: absolute;
  top: 32%;
  left: 25%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
}

$social-button-size: 5em;
$social-button-icon-size: 1;
$social-button-background: #101111;
$social-button-active-color: #fff;
$social-button-transition-time: 0.3s;

$social-button-colors: (
  'mail': #0072c6,
  'linkedin': #0077b5,
  'github': #6e5494,
  'steam': #7da10e,
  'snapchat': #eec900,
  'twitter': #55acee,
  'instagram': #e4405f,
);

.social-button {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  outline: none;
  width: $social-button-size;
  height: $social-button-size;
  text-decoration: none;
  border-radius: 100%;
  background: $social-button-background;
  text-align: center;

  &::after {
    content: '';
    position: absolute;
    top: -1px;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    border-radius: 100%;
    transition: $social-button-transition-time;
  }

  &:focus,
  &:hover {
    color: $social-button-active-color;

    &::after {
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      margin-left: calc(-50% - 1px);
    }
  }

  i,
  svg {
    position: relative;
    z-index: 1;
    transition: $social-button-transition-time;
  }

  i {
    font-size: $social-button-size * $social-button-icon-size;
  }

  svg {
    height: percentage($social-button-icon-size);
    width: percentage($social-button-icon-size);
  }

  @each $name, $color in $social-button-colors {
    &--#{$name} {
      color: $color;

      &::after {
        background: $color;
      }
    }
  }
}


//page 3
#page3 {
  height: 70vh;
  color: #80808b;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

#page3 > #line {
  border-left: 1px solid #80808b;
  height: 7em;
  position: relative;
  top: -10%;
}
#page3 > #know {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // padding-top: 2em;
  z-index: 2;
}

#page3 > #icons {
  padding: 3em 0 3em 0;
  margin: 1em;
  z-index: 2;
}
#page3 > #icons > i {
  font-size: 6em;
  padding: 0 1em 0 1em;
  transition: 0.5s ease all;
  color: #43494f;
}
#page3 > #icons > i:hover {
  transform: scale(1.5);
}
//page 4
#page4 {
  color: #fa6821;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-weight: bold;
  z-index: 2;
}
#page4 > #year_of {
  z-index: 2;
  display: flex;
  position: relative;
  top: 10%;
  margin-left: 2em;
  width: 30vw;
  font-size: 2.5em;
  font-weight: bold;
}
#page4 > #year_of > p > span {
  font-weight: 100;
  position: relative;
  top: -4%;
}
#page4 > #elements > span {
  margin-top: 2em;
  display: flex;
  line-height: 2em;
  text-align: center;
  justify-content: center;
  font-size: 2.5em;
}

#page4 > #elements > #sec {
  z-index: 2;
  display: flex;
  // flex-direction: row;
  justify-content: space-around;
  margin-left: 10%;
}
#page4 > #elements > #sec > section {
  text-transform: uppercase;
  margin: 1em 0.5em 0 0.5em;
  background-color: #75757a;
  display: flex;
  align-items: end;
  z-index: 2;
  width: 22vw;
  height: 45vh;
  color: white;
  font-size: 2em;
  padding: 0 0 1.5em 1.5em;
  transition: 1s ease all;
  background-color: #0077b5;
}

#page4 > #elements > #sec > section:first-child {
  background-color: #fa6821;
  margin-left: 2em;
}
#page4 > #elements > #sec > section:last-child {
  width: 22vw;
}
#page4 > #elements > #sec > section:hover {
  background-image:
  linear-gradient(45deg,
    rgba(245, 69, 66, 0.463),
    rgba(8,83,156, 0.75)), url(
'../image/bd.png');
background-size: cover;
  width: 30vw;
  // background-color: #2568ce;
}
#page4 > #elements > #sec > section:nth-child(2):hover {
  background-image:
  linear-gradient(45deg,
    rgba(245, 69, 66, 0.366),
    rgba(8,83,156, 0.75)), url(
'../image/fe.png');
background-size:contain;
// background-repeat: no-repeat;
  // width: 12vw;
  // background-color: #2568ce;
}
#page4 > #elements > #sec > section:last-child:hover {
  background-image:
  linear-gradient(45deg,
    rgba(245, 69, 66, 0.366),
    rgba(8,83,156, 0.75)), url(
'../image/ux.png');
background-size:cover;
// background-repeat: no-repeat;
  // width: 12vw;
  // background-color: #2568ce;
}
// display bar
#displaybar {
  margin: 5em 0 5em 0;
}
#bar,
#bar2 {
  z-index: 2;
  position: relative;
  left: -10%;
  width: 120vw;
  height: 5vw;
  transform: rotate(6deg);
  background-color: #fa6821;
}
#bar,
#bar2 > span {
  display: flex;
  font-weight: bold;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 2.7em;
}
#bar2 {
  position: relative;
  opacity: 0.1;
  // top: -5%;
  // right: -2%;
  z-index: w;
  background-color: #d86125;
  margin-top: 0;
  transform: rotate(-9deg);
}

//page 5
#page5 {
  margin-top: 6em;
  // z-index: 3;
  color: white;
  // height: 100vh;
  display: flex;
  flex-direction: column;
}
#service {
  z-index: 2;
  // margin-top: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#service > span {
  color: #fa6821;
  font-size: 2em;
}
#service > p {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

#One,
#Two {
  z-index: 2;
  display: flex;
  flex-direction: column;
  margin: 1em 0 0 2em;
}
#One > #Design,
#Two > #Design {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#Design > span {
  color: #fa6821;
  font-size: 2em;
}
#Design > span > #tag {
  text-transform: uppercase;
  color: white;
  font-size: 1em;
}
#Design > p {
  margin: 5em 0 2em 0;
  font-size: 1.4em;
  width: 40%;
}
#Design_Service {
  display: flex;
  justify-content: center;
  margin: 2em 0 2em 0;
}
#Design_Service > span {
  border: 1px solid white;
  padding: 1.5em;
}

//page 6
a{
  color:white;
  text-decoration: none;
}
#page6 > h1 {
  position: relative;
  z-index: 2;
  color: white;
  margin: 2em 0 2em 3em;
  font-size: 3em;
  line-height: 0.8em;
}
#page6 > h1 > a> span {
  color: #fa6821;
  // font-size: 2em;
  font-weight: 100;
}
#page6 > #projects {
  display: flex;
  flex-direction: row;
  // justify-content: center;
  color: white;
  margin-left: 10em;
}
#page6 > #projects > #right {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 1em;
}
#page6 > #projects > #left {
  width: 40%;
  display: flex;
  flex-direction: column;
  // justify-content: center;
}
#page6 > #projects > #left > #left-1 {
  z-index: 2;
  position: relative;
  height: 70vh;
  background-image: url("../image/3dmania.png");
  background-size: cover;
  transition: all 0.5s ease-out;
}
#left-1:hover {
  z-index: 3 !important;
  transform: scale(1.15);
  filter: grayscale(70%);
}

#page6 > #projects > #right > #right-1,
#right-2 {
  z-index: 2;
  position: relative;
  top: -20%;
  height: 50vh;
  background-image: url("../image/brew_nation.png");
  background-size: cover;
  transition: all 0.5s ease-out;
}
#right-1:hover {
  z-index: 3 !important;
  transform: scale(1.15);
  filter: grayscale(70%);
}
#page6 > #projects > #right > #right-2 {
  // top: 0%;
  margin-top: 1em;
  background-image: url("../image/Wandr.png");
}
#right-2:hover {
  z-index: 3 !important;
  transform: scale(1.15);
  filter: grayscale(70%);
}

// footer
footer {
  z-index: 2;
  // height: 80vh;
  color: #fff;
}
footer > section {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer > section > h4 {
  z-index: 2;
  color: #fa6821;
}
footer > section > h1 {
  z-index: 2;
  font-size: 2.2em;
  margin-top: 0;
}
footer > section > p {
  z-index: 2;
  align-items: center;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 3em;
}
footer > section > a > button {
  cursor:pointer;
  z-index: 2;
  color: #fff;
  box-shadow: none;
  border: none;
  background: transparent;
  letter-spacing: 3px;
  padding: 15px 32px;
}
footer > section > a{
  z-index: 2;
}

footer>h1{
  margin-top: 3em;
  font-size: 1.2em;
color: #1a1a1c;
}

@media screen and (max-width: 14in) {
 header{
  margin:3em 0 0 3em;
 }
 .tip-button{
  height: 2em;
  width: 7em;
  font-size: 0.8em;
 }
  #name{
    width: 200vw;
    font-size: 2em;
  }
  #about>p{
    font-size: 1em;
  }
  .catch_phrase{
    padding: 1em 0 1em 0;
    font-size: 2rem;
    height: 50vh;
  }
  .social-buttons{
    top: 30%;
    left: 22%;
    gap: 8px;
  }
  .social-button{
    height: 64px;
    width: 64px;
  }
  #page3{
    height: 100vh;
  }
  #page3>#know{
    font-size: 1em;
  }
  #page3>#icons{
    padding: 5em 0 5em 0;
    margin: 0;
  }
  #page3>#icons>i{
    font-size: 4em;
  }
  #page4>#year_of{
    font-size: 1.7em;
  }
  #page4 > #elements > #sec {
    font-size: 0.6em;
    // background-color: #0077b5;
  }
  #page4>#elements>span{
    font-size: 1.7em;
  }
  #service > span {
    font-size: 1.4em;
  }
  #Design > span {
    font-size: 1.5em;
  }
  #Design > p {
    font-size: 0.9em;
    
  }

}
// Media Queries
@media only screen and (max-width: 768px) {
  header{
    margin:3em 0 0 3em;
   }
   .tip-button{
    height: 2em;
    width: 7em;
    font-size: 0.8em;
   }
  #name {
    width: 100vw;
    font-size: 1em;
  }

  #about > h2 {
    font-size: 1.5em;
  }

  .catch_phrase {
    font-size: 1.2rem;
    height:10vh;
  }
  .social-buttons{
    // position: absolute;
display: flex;
flex-direction: row;
top: 70%;
left: 10%;
  }
  #page3{
    height: 80vh;
  }

  #page3 > #icons > i {
    font-size: 4em;
    padding: 0.5em 1em 0.5em;
  }
  #page4{
    flex-direction: column;
    justify-content: space-around;
  }

 #page4>#year_of{
  margin-left: 0.5em;
 }
 #page4> #elements>span{
  margin-top: 2em;
  font-size: 1.2em;
  padding: 0.5em;
    text-align: left;
}
#page4 > #elements > #sec{
  flex-direction: column;
  margin-left: 1em;

}
#page4 > #elements > #sec > section {
width: 70vw;
height: 20vh;

}
#page4 > #elements > #sec > section:first-child {
  margin-left: 0em;
}
#page4 > #elements > #sec > section:last-child {
  width: 70vw;
}
#page4 > #elements > #sec > section:hover {
//   background-image:
//   linear-gradient(45deg,
//     rgba(245, 69, 66, 0.463),
//     rgba(8,83,156, 0.75)), url(
// '../image/bd.png');
background-size: cover;
  width: 80vw;
  // background-color: #2568ce;
}
#displaybar{
  margin-top: 10em;
}
#bar{
  visibility: hidden;
}
#bar2{
  background-color: transparent;
}
#One,
#Two {
  margin:0;
}
#One > #Design,
#Two > #Design {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#Design > p {
  margin: 5em 0 2em 0;
  font-size: 1em;
  width: 90%;
  text-align: center;
}
#page6>h1{
  margin: 2em 0;
}
#page6>#projects{
  flex-direction: column;
  margin-left: 1em;
}
#page6>#projects>#left, #page6>#projects>#right{
  display:contents;
  // width: 50%;
}
#page6 > #projects > #left > #left-1,#page6 > #projects > #right > #right-1,
#right-2  {
  height: 40vh;
  background-repeat: no-repeat;
  margin-bottom: 1em;
}
footer>section>p{
  text-align: center;
}
}
