@import url(var.scss);
:root {
  --primary-color: #080a0c;
  --text-color: #fa6821;
  --font-body: " " Poppins ", sans-serif";
}

html,
body {
  background-color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

header {
  z-index: 3;
  position: fixed;
  color: white;
  font-weight: 100;
  text-transform: uppercase;
  margin: 2em;
  border-bottom: 1px solid #0072c6;
  transition: 0.5s ease-in all;
}

header > a > i {
  color: #0072c6;
  font-weight: 100;
  font-size: 1.2em;
  margin-left: 1em;
}

header:hover {
  padding-left: 1em;
}

#page1 {
  height: 100vh;
  z-index: 1;
}

#name {
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 300vw;
  color: var(--text-color);
  font-size: 3em;
}

#page2 {
  position: relative;
  z-index: 2;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#about > hr {
  margin-left: 0px;
  width: 7em;
}

#about > p {
  padding-top: 1em;
  color: #80808b;
  font-size: 1em;
  line-height: 1.5em;
  z-index: 2;
}

#about > p > span {
  color: var(--text-color);
  z-index: 2;
}

#about > h2 {
  color: white;
  font-size: 2em;
  z-index: 2;
}

#about > h2 > span {
  color: var(--text-color);
}

.catch_phrase {
  padding: 1em 0 1em 0;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2568ce;
  font-size: 2rem;
  letter-spacing: 1em;
  overflow: hidden;
  text-transform: uppercase;
  z-index: 2;
}

.social-buttons {
  position: absolute;
  top: 30%;
  left: 22%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.social-button {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 64px;
  height: 64px;
  text-decoration: none;
  border-radius: 100%;
  background: #101111;
  text-align: center;
}
.social-button::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border-radius: 100%;
  transition: 0.3s;
}
.social-button:focus, .social-button:hover {
  color: #fff;
}
.social-button:focus::after, .social-button:hover::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  margin-left: calc(-50% - 1px);
}
.social-button i,
.social-button svg {
  position: relative;
  z-index: 1;
  transition: 0.3s;
}
.social-button i {
  font-size: 25.6px;
}
.social-button svg {
  height: 40%;
  width: 40%;
}
.social-button--mail {
  color: #0072c6;
}
.social-button--mail::after {
  background: #0072c6;
}
.social-button--linkedin {
  color: #0077b5;
}
.social-button--linkedin::after {
  background: #0077b5;
}
.social-button--github {
  color: #6e5494;
}
.social-button--github::after {
  background: #6e5494;
}
.social-button--steam {
  color: #7da10e;
}
.social-button--steam::after {
  background: #7da10e;
}
.social-button--snapchat {
  color: #eec900;
}
.social-button--snapchat::after {
  background: #eec900;
}
.social-button--twitter {
  color: #55acee;
}
.social-button--twitter::after {
  background: #55acee;
}
.social-button--instagram {
  color: #e4405f;
}
.social-button--instagram::after {
  background: #e4405f;
}

#page3 {
  height: 100vh;
  color: #80808b;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

#page3 > #line {
  border-left: 1px solid #80808b;
  height: 7em;
  position: relative;
  top: -10%;
}

#page3 > #know {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

#page3 > #icons {
  padding: 5em 0 5em 0;
  margin: 0;
  z-index: 2;
}

#page3 > #icons > i {
  font-size: 4em;
  padding: 0 1em 0 1em;
  transition: 0.5s ease all;
  color: #43494f;
}

#page3 > #icons > i:hover {
  transform: scale(1.5);
}

#page4 {
  color: #fa6821;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-weight: bold;
}

#page4 > #year_of {
  z-index: 2;
  display: flex;
  position: relative;
  top: 10%;
  margin-left: 2em;
  width: 30vw;
  font-size: 2.5em;
  font-weight: bold;
}

#page4 > #year_of > p > span {
  font-weight: 100;
  position: relative;
  top: -4%;
}

#page4 > #elements > span {
  margin-top: 2em;
  display: flex;
  line-height: 2em;
  text-align: center;
  justify-content: center;
  font-size: 2em;
}

#page4 > #elements > #sec {
  z-index: 2;
  display: flex;
  justify-content: space-around;
  margin-left: 10%;
}

#page4 > #elements > #sec > section {
  text-transform: uppercase;
  margin: 1em 0.5em 0 0.5em;
  background-color: #75757a;
  display: flex;
  align-items: end;
  z-index: 2;
  width: 22vw;
  height: 45vh;
  color: white;
  font-size: 1em;
  padding: 0 0 1.5em 1.5em;
  transition: 1s ease all;
}

#page4 > #elements > #sec > section:first-child {
  background-color: #fa6821;
  margin-left: 2em;
}

#page4 > #elements > #sec > section:last-child {
  width: 22vw;
}

#page4 > #elements > #sec > section:hover {
  background-image: linear-gradient(45deg, rgba(245, 69, 66, 0.463), rgba(8, 83, 156, 0.75)), url("../image/bd.png");
  background-size: cover;
  width: 30vw;
}

#page4 > #elements > #sec > section:nth-child(2):hover {
  background-image: linear-gradient(45deg, rgba(245, 69, 66, 0.366), rgba(8, 83, 156, 0.75)), url("../image/fe.png");
  background-size: contain;
}

#page4 > #elements > #sec > section:last-child:hover {
  background-image: linear-gradient(45deg, rgba(245, 69, 66, 0.366), rgba(8, 83, 156, 0.75)), url("../image/ux.png");
  background-size: cover;
}

#displaybar {
  margin: 5em 0 5em 0;
}

#bar,
#bar2 {
  z-index: 2;
  position: relative;
  left: -10%;
  width: 120vw;
  height: 5vw;
  transform: rotate(5deg);
  background-color: #fa6821;
}

#bar,
#bar2 > span {
  display: flex;
  font-weight: bold;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 2.7em;
}

#bar2 {
  position: relative;
  opacity: 0.1;
  top: -15%;
  z-index: w;
  background-color: #d86125;
  margin-top: 0;
  transform: rotate(-5deg);
}

#page5 {
  margin-top: 6em;
  color: white;
  display: flex;
  flex-direction: column;
}

#service {
  z-index: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#service > span {
  color: #fa6821;
  font-size: 1.4em;
}

#service > p {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

#One,
#Two {
  z-index: 2;
  display: flex;
  flex-direction: column;
  margin: 1em 0 0 2em;
}

#One > #Design,
#Two > #Design {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#Design > span {
  color: #fa6821;
  font-size: 1.5em;
}

#Design > span > #tag {
  text-transform: uppercase;
  color: white;
  font-size: 1em;
}

#Design > p {
  margin: 5em 0 2em 0;
  font-size: 0.9em;
  width: 40%;
}

#Design_Service {
  display: flex;
  justify-content: center;
  margin: 2em 0 2em 0;
}

#Design_Service > span {
  border: 1px solid white;
  padding: 1.5em;
}

a {
  color: white;
  text-decoration: none;
}

#page6 > h1 {
  position: relative;
  z-index: 2;
  color: white;
  margin: 2em 0 2em 3em;
  font-size: 3em;
  line-height: 0.8em;
}

#page6 > h1 > a > span {
  color: #fa6821;
  font-weight: 100;
}

#page6 > #projects {
  display: flex;
  flex-direction: row;
  color: white;
  margin-left: 10em;
}

#page6 > #projects > #right {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 1em;
}

#page6 > #projects > #left {
  width: 40%;
  display: flex;
  flex-direction: column;
}

#page6 > #projects > #left > #left-1 {
  z-index: 2;
  position: relative;
  height: 70vh;
  background-image: url("../image/3dmania.png");
  background-size: cover;
  transition: all 0.5s ease-out;
}

#left-1:hover {
  z-index: 3 !important;
  transform: scale(1.15);
  filter: grayscale(70%);
}

#page6 > #projects > #right > #right-1,
#right-2 {
  z-index: 2;
  position: relative;
  top: -20%;
  height: 50vh;
  background-image: url("../image/brew_nation.png");
  background-size: cover;
  transition: all 0.5s ease-out;
}

#right-1:hover {
  z-index: 3 !important;
  transform: scale(1.15);
  filter: grayscale(70%);
}

#page6 > #projects > #right > #right-2 {
  margin-top: 1em;
  background-image: url("../image/Wandr.png");
}

#right-2:hover {
  z-index: 3 !important;
  transform: scale(1.15);
  filter: grayscale(70%);
}

footer {
  z-index: 2;
  color: #fff;
}

footer > section {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer > section > h4 {
  z-index: 2;
  color: #fa6821;
}

footer > section > h1 {
  z-index: 2;
  font-size: 2.2em;
  margin-top: 0;
}

footer > section > p {
  z-index: 2;
  align-items: center;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 3em;
}

footer > section > a > button {
  cursor: pointer;
  z-index: 2;
  color: #fff;
  box-shadow: none;
  border: none;
  background: transparent;
  letter-spacing: 3px;
  padding: 15px 32px;
}

footer > section > a {
  z-index: 2;
}

footer > h1 {
  margin-top: 3em;
  font-size: 1.2em;
  color: #1a1a1c;
}

@media only screen and (max-width: 768px) {
  #name {
    width: 100vw;
    font-size: 1em;
  }
  #about > h2 {
    font-size: 1.5em;
  }
  .catch_phrase {
    font-size: 1.2rem;
  }
  #page3 > #icons > i {
    font-size: 4em;
    padding: 0.5em 1em 0.5em;
  }
  #page4 > #project1 {
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }
  #page4 > #project1 > div {
    padding-left: 2em;
  }
  #page4 > #project1 > div > h3 {
    font-size: 0.8em;
  }
  #page4 > #project1 > div > h1 {
    font-size: 1.5em;
  }
  #page4 > #project1 > div > h4 {
    font-size: 0.5em;
    width: 70%;
  }
  #page4 > #project1 > div > a > #btn {
    font-size: 0.8rem;
  }
  #page4 > #project1 > img {
    height: 30%;
    margin: 0;
  }
  #page4 > #project2 {
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }
  #page4 > #project2 > div {
    padding-right: 2em;
  }
  #page4 > #project2 > div > h3 {
    font-size: 0.8em;
  }
  #page4 > #project2 > div > h1 {
    font-size: 1.5em;
  }
  #page4 > #project2 > div > h4 {
    font-size: 0.5em;
    width: 70%;
  }
  #page4 > #project2 > div > a > #btn {
    font-size: 0.8rem;
  }
  #page4 > #project2 > img {
    height: 40%;
  }
}/*# sourceMappingURL=main.css.map */