@import url(var.scss);
#page2 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #about > hr {
    margin-left: 0px;
    width: 7em;
  }
  #about > p {
    padding-top: 1em;
    color: #80808b;
    font-size: 1em;
    line-height: 1.5em;
    z-index: 2;
  }
  #about > p > span {
    color: var(--text-color);
    z-index: 2;
  }
  #about > h2 {
    color: white;
    font-size: 2em;
    z-index: 2;
  }
  #about > h2 > span {
    color: var(--text-color);
  }
  
  .catch_phrase {
    padding: 1em 0 1em 0;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2568ce;
    font-size: 2rem;
    letter-spacing: 1em;
    overflow: hidden;
    text-transform: uppercase;
    z-index: 2;
  }