@import url(var.scss);
#page3 {
    height: 100vh;
    color: #80808b;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
  
  #page3 > #line {
    border-left: 1px solid #80808b;
    height: 7em;
    position: relative;
    top: -10%;
  }
  #page3 > #know {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // padding-top: 2em;
    z-index: 2;
  }
  
  #page3 > #icons {
    padding: 5em 0 5em 0;
    margin: 0;
    z-index: 2;
  }
  #page3 > #icons > i {
    font-size: 4em;
    padding: 0 1em 0 1em;
    transition: 0.5s ease all;
    color: #43494f;
  }
  #page3 > #icons > i:hover {
    transform: scale(1.5);
  }